.problem-container {
    display: flex;
    width: 90%;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    align-items: center;
    margin-top: 175px;
}

.pda-problem img {
    width: 70%;
}

.pda-problem {
    display: flex;
    justify-content: center;
    height: 100%;
}

.dfa-problem {
    width: 50%;
    align-items: center;
}